{% extends 'UrenBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <h1>Welkom {{ firstName }} {{ lastName }}</h1>
                <p>U heeft nu toegang tot het registeren van uren!</p>
            {% else %}
                <h1>Welkom Gast gebruiker</h1>
                <p>U heeft nog geen toegang tot het registeren van uren! Daarvoor moet u zich eerst aanmelden!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
