{% extends 'UrenBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welkom {{ firstName }} {{ lastName }}</h1>
            <p>U heeft nu toegang tot het registeren van uren!</p>
        </div>
    </div>
{% endblock %}
